<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>

<%- include("../menu"); %>

<!-- Material input -->
<div class="md-form">
  <input type="text" id="singer" class="form-control" value="<%= result.singer %>" readonly>
  <label for="form1">Singer</label>
</div>

<div class="md-form">
  <input type="text" id="title" class="form-control" value="<%= result.title %>" readonly>
  <label for="form1">Title</label>
</div>
<button type="button" class="btn btn-outline-warning waves-effect" onclick="location.href='/api/music'">목록</button>
<button type="button" class="btn btn-outline-warning waves-effect" onclick="location.href='/api/music/<%= result._id %>/edit'">수정</button>
<button id="deletebtn" type="button" class="btn btn-outline-warning waves-effect">삭제</button>

<%- include("../footer"); %>
<script>
  $(function(){
    $("#deletebtn").on("click",()=>{
      const result = confirm("삭제하시겠습니까?");
      if(result){
        $.ajax({
        url: "/api/music/<%= result._id %>",
        type: "DELETE",
      }).done(()=>{
        location.href="/api/music";
      }).fail((request,status,error)=>{
        alert(request.responseText);
      })
      }
    })
  })
</script>
</body>
</html>
